<div class="whyme-section" id="why-me" data-aos="zoom-out">
  @if(isgerman.isgerman){
  <div>Warum ich</div>
  } @else {
  <div>Why me</div>
  }
  <div>
    <div>
      <div><img draggable="false" src="assets/img/icon.png" alt="" /></div>
      @if (isgerman.isgerman) {
      <span>
        <span>Ich bin</span> in Griechenland
      </span>
      } @else {
      <span>
        <span>I am</span> located in Greece </span
      >
      }
    </div>
    <div>
      @if(isgerman.isgerman){
      <span>
        Ich bin motiviert, kontinuierlich neue Technologien zu lernen und mich
        weiterzuentwickeln. Meine Fähigkeit, komplexe Probleme zu lösen, und
        meine Leidenschaft für das Programmieren machen mich zu einem wertvollen
        Mitglied für Ihr Team.
      </span>
      <a href="#Contact">Lass uns sprechen</a>

      } @else {
      <span
        >I am motivated to continuously learn new technologies and develop
        myself. My ability to solve complex problems and my passion for
        programming make me a valuable member for your team.</span
      >
      <a draggable="false" href="#Contact">Let's Talk</a>
      }
    </div>
  </div>
</div>
