<div class="whyme-section" id="why-me">
  @if(isgerman.isgerman){
  <div>Warum ich</div>
  } @else {
  <div>Why me</div>
  }
  <div>
    <div>
      <div><img draggable="false" src="assets/img/icon.png" alt="" /></div>
      @if (isgerman.isgerman) {
      <span>
        <span>Ich bin</span> in Deutschland, aber ich werde zurück nach
        Griechenland ziehen
      </span>
      } @else {
      <span>
        <span>I am</span> located in Germany but I will be moving back to
        Greece</span
      >
      }
    </div>
    <div>
      @if(isgerman.isgerman){
      <span>
        Ich bin motiviert, kontinuierlich neue Technologien zu lernen und mich
        weiterzuentwickeln. Meine Fähigkeit, komplexe Probleme zu lösen, und
        meine Leidenschaft für das Programmieren machen mich zu einem wertvollen
        Mitglied für Ihr Team.
      </span>
      <a href="">Lass uns sprechen</a>

      } @else {
      <span
        >I am motivated to continuously learn new technologies and develop
        myself. My ability to solve complex problems and my passion for
        programming make me a valuable member for your team.</span
      >
      <a draggable="false" href="tel:+4915157491331">Let's Talk</a>
      }
    </div>
  </div>
</div>
