<div class="contact-section" id="Contact">
  <div>
    <div><h2>Contact me</h2></div>
    <div>
      <div>
        <div>
          <span
            >"Still not sure if I am the right person for your project? I would
            love the opportunity to discuss how I can contribute. I am
            passionate about creating user-friendly, responsive, and visually
            appealing web experiences. Whether you have a project in mind or
            just want to explore possibilities, feel free to reach out!</span
          >
        </div>
        <div>
          <div>
            <img src="assets/img/mail.png" alt="" />
            <p>E-mail: {{ email }}</p>
          </div>
          <div>
            <img src="assets/img/phone.png" alt="" />
            <p>Tel: 5498 65655656</p>
          </div>
        </div>
      </div>
    </div>
    <form (ngSubmit)="onSubmit()">
      <div>
        <div>
          <label for="">Your name</label>
          <input type="text" />
        </div>
        <div><label for="">Your Email</label> <input type="text" /></div>
      </div>
      <div>
        <label for="">Your Message</label><textarea name="" id=""></textarea>
      </div>
    </form>
  </div>

  <div>
    <div>
      <a href="#profile"><img src="assets/img/Arrow Up.png" alt="" /></a>
    </div>
  </div>
</div>
