<div class="header-box">
  <div>
    <img src="../../assets/img/Logo icon.png" alt="" />
    <span>I.KARAKASIDIS</span>
    <span>@if (isgerman) { entwickler }@else {developer}</span>
  </div>
  <div>
    <a href="#Why me"> @if (isgerman) { Warum ich }@else {Why me}</a
    ><a href="#Skills"> @if (isgerman) { Fähigkeiten}@else {Skills}</a
    ><a href="#Projects"> @if (isgerman) { Fähigkeiten }@else {Projects}</a
    ><a href="#Contact"> @if (isgerman) { Kontakt }@else {Contact }</a>
  </div>
  <div>
    <button (click)="changetogerman()">
      @if(!isgerman){
      <img src="assets/img/DE.png" alt="" />
      } @else {
      <img src="assets/img/DE (1).png" alt="" />
      }</button
    ><button (click)="changetoenglish()">
      @if(isgerman){
      <img src="assets/img/EN (1).png" alt="" />
      }@else {
      <img src="assets/img/EN.png" alt="" />
      }
    </button>
  </div>
</div>
