<div class="header-box">
  <app-headerlogo></app-headerlogo>
  <div>
    <a draggable="false" href="#why-me">
      @if (languageService.isgerman) { Warum ich }@else {Why me}</a
    ><a draggable="false" href="#Skills">
      @if (languageService.isgerman) { Fähigkeiten}@else {Skills}</a
    ><a draggable="false" href="#Projects">
      @if (languageService.isgerman) { Projekte }@else {Projects}</a
    ><a draggable="false" href="#Contact">
      @if (languageService.isgerman) { Kontakt }@else {Contact }</a
    >
  </div>
  <div>
    <button (click)="languageService.changetogerman()">
      @if(!languageService.isgerman){
      <img draggable="false" src="../../assets/img/DE.png" alt="" />
      } @else {
      <img draggable="false" src="../../assets/img/DE (1).png" alt="" />
      }</button
    ><button (click)="languageService.changetoenglish()">
      @if(languageService.isgerman){
      <img draggable="false" src="../../assets/img/EN (1).png" alt="" />
      }@else {
      <img draggable="false" src="../../assets/img/EN.png" alt="" />
      }
    </button>
  </div>
</div>
