<div class="myskill-section" id="Skills">
  @if(isgerman.isgerman){
  <div><h1>Meine Fähigkeiten</h1></div>
  }@else {
  <div><h1>My Skill</h1></div>
  }

  <div>
    <div>
      <img src="../../assets/img/skillicons/Angular.png" alt="" /><img
        src="../../assets/img/skillicons/TypeScript.png"
        alt=""
      /><img src="../../assets/img/skillicons/Javascript.png" alt="" /><img
        src="../../assets/img/skillicons/HTML.png"
        alt=""
      /><img src="../../assets/img/skillicons/CSS.png" alt="" /><img
        src="../../assets/img/skillicons/Rest-Api.png"
        alt=""
      /><img src="../../assets/img/skillicons/Firebase.png" alt="" /><img
        src="../../assets/img/skillicons/GIT.png"
        alt=""
      /><img src="../../assets/img/skillicons/MaterialDesign.png" alt="" /><img
        src="../../assets/img/skillicons/Scrum.png"
        alt=""
      />
    </div>
    @if(isgerman.isgerman){
    <div>
      <h3>Ich lerne derzeit</h3>
      <div>
        <img src="../../assets/img/skillicons/React.png" alt="" />
        <img src="../../assets/img/skillicons/VueJs.png" alt="" />
      </div>
      <span>
        Motiviert zu bleiben, um meine IT-Fähigkeiten zu erweitern, erfordert
        einen strategischen Ansatz, eine neugierige Denkweise und ein Engagement
        für lebenslanges Lernen.
      </span>
    </div>
    } @else {
    <div>
      <h3>I am currently learning</h3>
      <div>
        <img src="../../assets/img/skillicons/React.png" alt="" /><img
          src="../../assets/img/skillicons/VueJs.png"
          alt=""
        />
      </div>
      <span
        >Staying motivated to expand my IT skills requires a strategic approach,
        a curious mindset, and a commitment to lifelong learning.</span
      >
    </div>

    }
  </div>
</div>
