div {
  padding: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  > span:nth-child(2) {
    color: #f8f5ec;
    font-weight: 400;
    font-size: 14px;
    font-family: "Anta-Regular";
  }
  > span:nth-child(3) {
    color: #262e34;
    font-weight: 300;
    font-size: 14px;
    font-family: "JosefinSans";
  }
}


.textcolor {
  color: #89bcd9 !important;
  font-size: 16px !important;
}

