app-header {
  background-color: #89bcd9;
  width: 100%;
  display: flex;
  justify-content: center;
}

app-footer {
  background-color: #89bcd9;
  width: 100%;
  display: flex;
  justify-content: center;
}
