<div [ngClass]="customClass">
  @if(path) {
  <a
    href="https://github.com/Ioannis-Karakasidis"
    target="_blank"
    class="pe1"
  ></a
  ><a
    href="mailto:gianniskarakasidhs@hotmail.com"
    target="_blank"
    class="pe2"
  ></a
  ><a
    href="https://www.linkedin.com/in/ioannis-karakasidis-05395a2ba/

  "
    class="pe3"
    target="_blank"
  ></a>
  } @else {
  <a
    href="https://github.com/Ioannis-Karakasidis"
    target="_blank"
    class="pe4"
  ></a
  ><a
    href="mailto:gianniskarakasidhs@hotmail.com"
    target="_blank"
    class="pe5"
  ></a
  ><a
    href="https://www.linkedin.com/in/ioannis-karakasidis-05395a2ba/

  "
    class="pe6"
    target="_blank"
  ></a>
  }
</div>
