body {
  background-color: #89bcd9;
  font-family: "JosefinSans";
  font-weight: 400;
  font-size: 18px;
  color: #262e34;
}

app-header {
  background-color: #89bcd9;
  display: flex;
  justify-content: center;
}

.text {
  font-family: "JosefinSans";
  font-weight: 400;
  font-size: 18px;
  color: #f8f5ec;
}

div {
  display: flex;
  justify-content: center;
  margin: 10.5px 0 13px 0;
  overflow-wrap: break-word;
  > div:nth-child(1) {
    max-width: 1920px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  > a {
    width: fit-content;
  }
}

app-footer {
  background-color: #89bcd9;
  display: flex;
  justify-content: center;
  width: 100%;
}
