<div class="whyme-section" id="why-me">
  <div>Why me</div>
  <div>
    <div>
      <div><img src="assets/img/icon.png" alt="" /></div>
      <span>
        <span>I am</span> located in Germany but I will be moving back to
        Greece</span
      >
    </div>
    <div>
      <span
        >I am motivated to continuously learn new technologies and develop
        myself. My ability to solve complex problems and my passion for
        programming make me a valuable member for your team.</span
      >
      <a href=""><img src="assets/img/Secbutton.png" alt="" /></a>
    </div>
  </div>
</div>
