<div class="myskill-section">
  <div><h1>My Skill</h1></div>
  <div>
    <div>
      <img src="assets/img/skillicons/Angular.png" alt="" /><img
        src="assets/img/skillicons/TypeScript.png"
        alt=""
      /><img src="assets/img/skillicons/Javascript.png" alt="" /><img
        src="assets/img/skillicons/HTML.png"
        alt=""
      /><img src="assets/img/skillicons/CSS.png" alt="" /><img
        src="assets/img/skillicons/Rest-Api.png"
        alt=""
      /><img src="assets/img/skillicons/Firebase.png" alt="" /><img
        src="assets/img/skillicons/GIT.png"
        alt=""
      /><img src="assets/img/skillicons/MaterialDesign.png" alt="" /><img
        src="assets/img/skillicons/Scrum.png"
        alt=""
      />
    </div>
    <div>
      <h3>I am currently learning</h3>
      <div>
        <img src="assets/img/skillicons/React.png" alt="" /><img
          src="assets/img/skillicons/VueJs.png"
          alt=""
        />
      </div>
      <span
        >Staying motivated to expand my IT skills requires a strategic approach,
        a curious mindset, and a commitment to lifelong learning.</span
      >
    </div>
  </div>
</div>
