<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Impressum</title>
  </head>
  <body>
    <app-header></app-header>
    <div>
      <div>
        <h1>Legal Notice</h1>

        <p><strong>Information in accordance with § 5 DDG</strong></p>

        <p>
          Ioannis Karakasidis<br />
          Schlagvorder Straße 2<br />
          49074 Osnabrück
        </p>

        <p>
          <strong>Represented by: </strong><br />
          Ioannis Karakasidis
        </p>

        <p>
          <strong>Contact:</strong><br />
          Phone: +49-15157491331<br />
          Email:
          <a href="mailto:gianniskarakasidhs@hotmail.com">{{ email }}</a>
        </p>

        <p>
          <strong>Disclaimer: </strong><br /><br />
          <strong>Liability for Content</strong><br /><br />
          The content of our pages was created with the utmost care. However, we
          cannot guarantee the accuracy, completeness, or timeliness of the
          content. As a service provider, we are responsible for our own content
          on these pages under the general laws in accordance with § 7 Abs.1
          DDG. However, under §§ 8 to 10 DDG, we are not obligated to monitor
          transmitted or stored external information or investigate
          circumstances that suggest illegal activity. Obligations to remove or
          block the use of information under general laws remain unaffected.
          Liability in this regard is only possible from the moment of knowledge
          of a specific legal violation. Upon becoming aware of relevant legal
          violations, we will remove this content immediately.<br /><br />

          <strong>Liability for Links</strong><br /><br />
          Our offer contains links to external websites of third parties, over
          whose content we have no influence. Therefore, we cannot assume any
          liability for these external contents. The respective provider or
          operator of the pages is always responsible for the content of the
          linked pages. The linked pages were checked for possible legal
          violations at the time of linking. Illegal content was not
          identifiable at the time of linking. A permanent content control of
          the linked pages is, however, not reasonable without concrete evidence
          of a legal violation. Upon becoming aware of legal violations, we will
          remove such links immediately.<br /><br />

          <strong>Copyright</strong><br /><br />
          The content and works created by the page operators on these pages are
          subject to German copyright law. The reproduction, editing,
          distribution, and any kind of utilization outside the limits of
          copyright law require the written consent of the respective author or
          creator. Downloads and copies of this site are only permitted for
          private, non-commercial use. As far as the content on this site was
          not created by the operator, the copyrights of third parties are
          observed. In particular, third-party content is marked as such. Should
          you still become aware of a copyright infringement, we ask for a
          corresponding notification. Upon becoming aware of legal violations,
          we will remove such content immediately.<br /><br />

          <strong>Data Protection</strong><br /><br />
          The use of our website is usually possible without providing personal
          data. If personal data (for example, name, address, or email
          addresses) are collected on our pages, this is always done, as far as
          possible, on a voluntary basis. This data will not be passed on to
          third parties without your explicit consent.<br />
          We would like to point out that data transmission over the internet
          (e.g., when communicating via email) can have security gaps. A
          complete protection of the data from access by third parties is not
          possible.<br />
          The use of contact data published within the scope of the imprint
          obligation by third parties for the purpose of sending unsolicited
          advertising and informational materials is hereby expressly
          prohibited. The operators of the pages expressly reserve the right to
          take legal action in the event of unsolicited sending of advertising
          information, for example through spam emails.
        </p>

        <br />
        Created with the
        <a href="https://websitewissen.com/impressum-generator" rel="dofollow"
          >Impressum Generator by WebsiteWissen.com</a
        >
        the guide for
        <a href="https://websitewissen.com/website-erstellen" rel="dofollow"
          >Website Creation</a
        >
        <a
          href="https://websitewissen.com/homepage-baukasten-vergleich"
          rel="dofollow"
          >Homepage Builders</a
        >
        and
        <a href="https://websitewissen.com/shopsysteme-vergleich" rel="dofollow"
          >Shop Systems</a
        >
        Legal text provided by
        <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow"
          >Kanzlei Hasselbach</a
        >
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
