.profile-card__wrapper {
  padding: 50px;
  background-color: #262e34;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1124px) {
    flex-direction: column;
    gap: 20px;
  }
  > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    align-items: flex-end;
    @media (max-width: 1124px) {
      align-items: center;
    }
    > a {
      width: 38px;
      height: 89px;
      border: 1px solid #89bcd9;
      border-radius: 50% 50%;
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background: #f8f5ec1f;
        cursor: pointer;
      }
    }
  }
}

app-contacticons {
  height: 660px;
  display: flex;
  flex-direction: column;
  @media (max-width: 1124px) {
    height: unset;
  }
}

.profile-card__image {
  padding: unset;
  max-width: 600px;
  width: 100%;
  height: 619px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 50% 43%;
  overflow: hidden;
  background-image: url("../../assets/img/Bild.png");
   @media (max-width: 723px) {
    height: unset;
   }
  &:hover {
    background-image: url("../../assets/img/Bg shape for Photo (1).png");
  }
  > img {
    @media (max-width: 1205px) {
      max-width: unset;
      width: 78%;
      height: auto;
  
    }
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.profile-card__name-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  > span:nth-child(2) {
    font-family: "Anta-Regular";
    font-size: 88px;
    font-weight: 400;
    color: #f8f5ec;
    @media (max-width: 495px) {
      font-size: 13vw;
    }
  }
  > span:nth-child(3) {
    color: #f8f5ec;
    font-weight: 400;
    font-size: 40px;
    font-family: "JosefinSans";
    @media (max-width: 495px) {
      font-size: 13vw;
    }
  }
}
