.myprojects-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media (max-width: 320px) {
    gap: 40px;
  }
  > div:nth-child(1) {
    > div:nth-child(1) {
      > h2:nth-child(1) {
        font-family: "Anta-Regular";
        font-weight: 400;
        font-size: 60px;
        text-align: center;
        color: #89bcd9;
      }
    }
    > div:nth-child(2) {
      min-height: 645px;
      > div:nth-child(1) {
        min-height: 645px;
      }
      > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        > div:nth-child(1) {
          display: flex;
          width: 100%;
          height: 97px;
          align-items: center;
          justify-content: flex-start;
          max-width: 1920px;
          @media (max-width: 445px) {
            width: 97% !important;
            overflow-y: hidden;
            scrollbar-width: none;
          }
          @media (max-width: 400px) {
            width: unset;
          }
          > div {
            padding: 42px 20px 24px 20px;
            border-radius: 35px 35px 0px 0px;
            > button {
              font-family: "JosefinSans";
              font-weight: 500;
              font-size: 30px;
              color: #89bcd9;
              border: none;
              background: none;
              cursor: pointer;
            }
          }
        }
        > div:nth-child(2) {
          height: 100%;
          background-color: #2d383f;
          width: 100%;
          display: flex;
          justify-content: center;
          min-height: 547px;
          flex-direction: column;
          align-items: center;
          @media (max-width: 400px) {
            gap: 25px;
            padding: 50px 0 50px 0;
          }
          > div {
            font-family: "JosefinSans";
            font-weight: 400;
            font-size: 28px;
          }
          > div:nth-child(1) {
            max-width: 1920px;
            height: 100%;
            display: flex;
            align-items: flex-start;
            width: 100%;
            justify-content: space-between;
            @media (max-width: 1137px) {
              align-items: center;
              flex-direction: column-reverse;
              @media (max-width: 445px) {
                gap: 25px;
              }
            }
            > div:nth-child(1) {
              min-height: 114px;
              gap: 25px;
              display: flex;
              flex-direction: column;
              @media (max-width: 521px) {
                gap: 25px;
                display: flex;
                flex-direction: column;
                width: 75%;
              }
              > div:nth-child(1) {
                > div:nth-child(1) {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  gap: 25px;

                  @media (max-width: 445px) {
                    justify-content: center;
                    width: 100%;
                  }
                }
                > div:nth-child(2) {
                  max-width: 516px;
                  display: flex;
                  margin-left: 57px;
                  @media (max-width: 320px) {
                    margin-left: unset;
                    text-align: center;
                  }
                }
              }
              > div:nth-child(2) {
                > div:nth-child(1) {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  gap: 25px;
                  @media (max-width: 445px) {
                    justify-content: space-evenly;
                  }
                }
                > div:nth-child(2) {
                  max-width: 516px;
                  display: flex;
                  margin-left: 57px;
                  @media (max-width: 320px) {
                    margin-left: unset;
                    text-align: center;
                  }
                }
              }
              > div:nth-child(3) {
                > div:nth-child(1) {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  gap: 25px;
                  @media (max-width: 445px) {
                    justify-content: space-evenly;
                  }
                }
                > div:nth-child(2) {
                  max-width: 560px;
                  display: flex;
                  margin-left: 57px;
                  @media (max-width: 320px) {
                    margin-left: unset;
                    text-align: center;
                  }
                }
              }
            }
            > div:nth-child(2) {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              gap: 5px;
              @media (max-width: 527px) {
              }
              > div:nth-child(1) {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-evenly;
                @media (max-width: 1150px) {
                  width: 250px;
                }
                > p:nth-child(1) {
                  display: flex;
                  > span:nth-child(1) {
                    @media (max-width: 1132px) {
                      display: flex;
                    }
                  }
                }
                > p:nth-child(2) {
                  @media (max-width: 1132px) {
                    display: flex;
                  }
                  @media (max-width: 445px) {
                    width: 86px;
                    overflow-wrap: anywhere;
                  }
                }
              }
              > div:nth-child(2) {
                display: flex;
                width: 100%;
                justify-content: space-evenly;
                @media (max-width: 1135px) {
                  display: none;
                }
                > div:nth-child(1) {
                  display: flex;
                  justify-content: space-evenly;
                }
              }
              > div:nth-child(3) {
                display: flex;
                justify-content: space-evenly;
                @media (max-width: 490px) {
                  width: 75%;
                  height: 100%;
                }
              }
              > div:nth-child(4) {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                @media (max-width: 450px) {
                  display: none;
                }
                @media (max-width: 445px) {
                  align-items: center;
                  flex-direction: column;
                  gap: 10px;
                }
                > a:nth-child(1) {
                  background: none;
                  border: none;
                  background-color: #89bcd9;
                  border: 1px solid #89bcd9;
                  padding: 13px 30px 13px 30px;
                  border-radius: 30px;
                  color: #2d383f;
                  cursor: pointer;
                }
                > a:nth-child(2) {
                  background: none;
                  border: 1px solid #89bcd9;
                  color: #89bcd9;
                  padding: 13px 30px 13px 30px;
                  border-radius: 30px;
                  cursor: pointer;
                  @media (max-width: 445px) {
                    padding: 13px 0 13px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.mobilegit {
  display: none !important;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  > a:nth-child(1) {
    background: none;
    background-color: #89bcd9;
    border: 1px solid #89bcd9;
    padding: 13px 30px 13px 30px;
    border-radius: 30px;
    color: #2d383f;
  }
  > a:nth-child(2) {
    background: none;
    border: 1px solid #89bcd9;
    color: #89bcd9;
    padding: 13px 30px 13px 30px;
    border-radius: 30px;
    @media (max-width: 445px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 445px) {
      display: flex !important;
    }
  }
  @media (max-width: 394px) {
    display: flex !important;
    flex-direction: column;
    gap: 25px;
  }
}

.preview {
  width: 453px;
  height: 312px;
  border-radius: 30px;
  @media (max-width: 484px) {
    width: 100%;
    height: auto;
  }
}

.active {
  background-color: #2d383f;
}

.title {
  font-family: "JosefinSans";
  font-weight: 400;
  font-size: 28px;
  color: #f8f5ec;
}

.smalltext {
  font-family: "JosefinSans";
  font-weight: 400;
  font-size: 14px;
  color: #f8f5ec;
}

.mobileview {
  display: none;
  justify-content: space-evenly;
}

.text {
  font-family: "JosefinSans";
  font-weight: 400;
  font-size: 18px;
  color: #f8f5ec;
}
