<div class="myprojects-section" id="Projects">
  <div>
    <div>
      <h2>{{ isgerman.isgerman ? "Meine Projekte" : "My Projects" }}</h2>
    </div>
    <div>
      <div>
        <div>
          <div [ngClass]="{ active: activeProject === 'Join' }">
            <button (click)="showactiveclass($event, 'Join')">1. Join</button>
          </div>
          <div [ngClass]="{ active: activeProject === 'ElPocoLoco' }">
            <button (click)="showactiveclass($event, 'ElPocoLoco')">
              2. El Poco Loco
            </button>
          </div>
          <div [ngClass]="{ active: activeProject === 'OngoingProject' }">
            <button (click)="showactiveclass($event, 'OngoingProject')">
              3.Ongoing Project
            </button>
          </div>
        </div>
        <div>
          <div
            *ngIf="information.information[activeProject]"
            class="project-details"
          >
            <div>
              <div
                *ngFor="
                  let section of information.information[activeProject].details
                "
              >
                <div>
                  <img src="../../assets/img/Ellipse 8.png" alt="" />
                  <h2 class="title">
                    {{ section.title[isgerman.isgerman ? "de" : "en"] }}
                  </h2>
                </div>
                <div>
                  <span class="text">{{
                    section.description[isgerman.isgerman ? "de" : "en"]
                  }}</span>
                </div>
              </div>
            </div>
            <div>
              <div class="smalltext">
                <p class="title">
                  {{ isgerman.isgerman ? "Technologien" : "Technologies "
                  }}<span class="mobileview">:</span>
                </p>
                <p class="mobileview">
                  {{ information.information[activeProject].technologies }}
                </p>
              </div>

              <div>
                <div
                  *ngFor="
                    let icon of information.information[activeProject]
                      .technologies
                  "
                >
                  <img
                    draggable="false"
                    src="../../assets/img/skillicons/{{ icon }}.png"
                    alt=""
                  />
                </div>
              </div>
              <div>
                <img
                  draggable="false"
                  class="preview"
                  src="{{ information.information[activeProject].preview }}"
                  alt=""
                />
              </div>
              <div>
                @if(information.information[activeProject].link){
                <a
                  class="text"
                  target="_blank"
                  href="{{ information.information[activeProject].link }}"
                  >Live Test</a
                ><a
                  href="{{ information.information[activeProject].Github }}"
                  class="text"
                  target="_blank"
                  >GitHub</a
                >
                }
              </div>
            </div>
          </div>
          <div class="mobilegit">
            @if(information.information[activeProject].link){
            <a
              class="text"
              target="_blank"
              href="{{ information.information[activeProject].link }}"
              >Live Test</a
            ><a
              href="{{ information.information[activeProject].Github }}"
              class="text"
              target="_blank"
              >GitHub</a
            >
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
